<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アンケートフォーム|回答結果</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body class="answer">
  <a href="/">トップへ戻る</a>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-triangle-right"></span>回答一覧</div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>名前</th>
              <th>年齢</th>
              <th>学年</th>
              <th>性別</th>
              <th>日付</th>
              <th>メールアドレス</th>
              <th>パスワード</th>
              <th>問い合わせ内容</th>
            </tr>
            <% @answers.each do |answer| %>
            <tr>
              <td><%= answer.name %></td>
              <td><%= answer.age %></td>
              <td><%= answer.grade %></td>
              <td><%= answer.gendar %></td>
              <td><%= answer.date %></td>
              <td><%= answer.email %></td>
              <td><%= answer.password %></td>
              <td><%= answer.content %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>